@import "tailwindcss";

@layer utilities {
  .bg-diatinf-dark { background-color: #0C3453; }
  .bg-diatinf-primary { background-color: #CE701B; }
  .bg-diatinf-secondary { background-color: #F1881D; }
  .bg-diatinf-accent { background-color: #FDC616; }
  .bg-diatinf-light { background-color: #F9EBC2; }
  .bg-diatinf-gray { background-color: #A4BCCC; }

  .text-diatinf-dark { color: #0C3453; }
  .text-diatinf-primary { color: #CE701B; }
  .text-diatinf-accent { color: #FDC616; }
  .text-diatinf-gray { color: #A4BCCC; }
  
  .border-diatinf-primary { border-color: #CE701B; }
  .border-diatinf-dark { border-color: #0C3453; }
}

body {
  background-color: #0C3453;
  color: #0C3453;
}